.devis-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
}

.devis-head-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 40px 0;
  color: black;
  text-align: center;
}

.devis-header-img {
  width: 40%;
  max-width: 400px;
}

.devis-title {
  font-size: 2.5rem;
  color: #8b36bc;
  margin-bottom: 10px;
}

.devis-subtitle {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
}

.devis-description {
  color: #555;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.devis-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #8b36bc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.devis-button:hover {
  background-color: #521f6f;
}

.devis-form-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  width: 100%;
}

.devis-translator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: black;
}

.devis-trad-img {
  width: 20%;
  max-width: 100px;
  border-radius: 50%;
}

.devis-language-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.devis-select-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.devis-select {
  padding: 10px;
  border-radius: 5px;
  width: 150px;
  border: 1px solid #ddd;
}

.devis-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
}

.devis-form-row {
  display: flex;
  gap: 10px;
  width: 100%;
}

.devis-form-row input {
  flex: 1;
}

.devis-form-select {
  color: black;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  background-color: lightblue;
  margin-top: 10px;
  border: 1px solid #ddd;
}

.devis-form-file-import {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.devis-form-button {
  background-color: #8b36bc;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  width: 100%;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.devis-form-button:hover {
  background-color: #521f6f;
}

@media (max-width: 768px) {
  .devis-head-section {
    flex-direction: column;
    text-align: center;
  }
  .devis-header-img {
    width: 70%;
  }
  .devis-select-container {
    flex-direction: column;
  }
}
